header {
  width: 100%;
  height: 55px;
  background-color: #E9C46A;
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-container > div {
  width: 33vw;
  display: flex;
  justify-content: center;
  align-items: center;
}